/* || HEADER */
header {
    padding: 3rem 0 0 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav-logo {
    color: var(--primary-color);
    font-family: var(--logo-font);
    font-size: 3.5rem;
}

.main-nav-links {
    margin-right: 7rem;
    font-size: 1.8rem;
    color: #939393;
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* || TABS */
.schedule-tabs {
    padding: 4rem 0;
    color: #fff;
    display: flex;
    gap: 1.5rem;
}

.tab {
    background-color: var(--primary-color);
    width: 16rem;
    text-align: center;
    padding: 0.65rem 0;
    border-radius: 5px;
    cursor: pointer;
}

.tab-3 {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

/* || MAIN CONTENT */
.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* || LEFT SIDE */
.left {

}

[data-tab-schedule] {
    display: none;
}

.active-schedule[data-tab-schedule] {
    display: block;
}

.schedule {
    background-color: var(--secondary-color);
}

/* || SCHEDULE GRID */
.schedule-grid {
    padding: 0 3rem 3rem 3rem;
    display: grid;
    grid-template-columns: 7rem repeat(5, 14rem);
    grid-template-rows: 5rem repeat(9, 8rem);
    gap: 0.75rem;
}

.grid-item {
    background-color: #fff;
}

.grid-item-1 {
    background-color: var(--secondary-color);
}

.schedule-day {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.day {
    color: var(--accent-color);
    font-size: 2rem;
}

.grid-hour {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour {
    text-align: center;
}

/* || RIGHT SIDE */
.right {
    padding: 2rem 6rem;
}

/* || FORM */
.form-title {
    background-color: var(--primary-color);
    color: #fff;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
    padding: 0.65rem 0;
    border-radius: 10px;
}

.time-heading {
    background-color: var(--primary-color);
    margin-top: 2rem;
    padding: 0.5rem 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.3rem;
}

.inputs-container {
    background-color: var(--secondary-color);
    padding-top: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.course-input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.color-input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#courseTitle {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0 0.5rem;
}

.days {
    display: flex;
    gap: 1rem;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-input, 
.professor-input {
    border: 2px solid #000;
    padding: 0 0.5rem;
    border-radius: 5px;
}

#submit-form {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    cursor: pointer;
}